.navigation a {
  text-decoration: none;
  color: #4a4e69;
  margin: 0 40px;
  font-size: 1.7em;
  font-weight: 400;
  transition: color 400ms ease-in-out;
}

.name a {
  font-weight: 600;
  text-transform: capitalize;
}

.navigation li {
  list-style-type: none;
}

.landing-page a {
  font-size: 2.5em;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.navigation a:hover {
  color: #f2e9e4;
}

.about h1,
.contact h1 {
  margin: 20px 40px;
  text-align: center;
  text-transform: capitalize;
  color: #4a4e69;
}

.box {
  cursor: pointer;
}

.container h2::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  border-top: 7px solid transparent;
  border-left: 7px solid #c9ada7;
  border-right: 7px solid transparent;
}

.sidebar div::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 10px;
  background: #4a4e69;
}

 